.products-list {display:flex; flex-wrap:wrap; margin:0 0 100px -30px;}
.product-item-2 {margin:0 0 30px 30px; width:calc(25% - 30px);}
.product-item-img-2 {position:relative; background:var(--gray-light); padding:40px 30px 60px; display:block; text-decoration:none;}
.product-item-title-2 {position:absolute; left:17px; bottom:5px; color:var(--black); text-transform:uppercase;}
.product-item-category-2 {font-size:12px; letter-spacing:0.14em; display:inline-block;}
.product-item-name-2 {font-size:22px; display:inline-block; vertical-align:text-top; line-height:2.2; margin-left:-3px; font-family:'AlphaHeadline-Bold';}
.product-item-info-2 {margin-top:18px; color:var(--black); display:flex; flex-wrap:wrap; justify-content:space-between; padding:0 20px; align-items:center;}
.product-item-price-2 {font-size:18px;}
.product-item-price-2 span {font-size:26px; padding:0 2px;}
.product-item-price-2 .rub {font-size:13px; text-transform:uppercase;}
.product-item-link-2 {cursor:pointer; display:inline-block; color:var(--orange); font-size:18px; text-transform:uppercase; text-decoration: none; letter-spacing:0.07em; position:relative;}
.product-item-link-2:before, .product-item-link-2:after {content:'';	display:inline-block;	width:14px;	height:1px;	background:var(--orange);	vertical-align:middle;	margin-right:4px;	transition:all 0.2s ease-in-out;}
.product-item-link-2:after {width:8px; margin:0 0 0 4px;}
.product-item-link-2:hover {color:var(--orange);}
.product-item-link-2:hover:after {width:0; margin:0;}
@media (max-width: 1200px) {
	.product-item-2 {width:calc(33.333% - 30px);}
}
@media (max-width: 992px) {
	.product-item-2 {width:calc(50% - 30px);}
}
@media (max-width: 575px) {
	.product-item-2 {width:calc(100% - 30px);}
}