.bx-filter.bx-yellow .bx-filter-section {
	background: #fdf9ec;
}
/*
* INPUTS
*
*/
.bx-filter.bx-yellow .bx-filter-input-container input:focus {
	border-color: #e59325;
}
.bx-retina .bx-filter.bx-yellow .bx-filter-input-container input:focus {
	-webkit-border-image: url(images/active.png) 2 repeat;
	-moz-border-image: url(images/active.png) 2 repeat;
	-o-border-image: url(images/active.png) 2 repeat;
	border-image: url(images/active.png) 2 repeat;
}
/*
*Track
*
*/
.bx-filter.bx-yellow .bx-ui-slider-track{background: #e7e7e7;}
.bx-filter.bx-yellow .bx-ui-slider-pricebar-vd{background: #c9c9c9;}
.bx-filter.bx-yellow .bx-ui-slider-pricebar-vn{background: #ffc974;}
.bx-filter.bx-yellow .bx-ui-slider-pricebar-v {background: #e59325;}

/*
*	Select
*
*/
.bx-filter.bx-yellow .bx-filter-select-container.bx-active,
.bx-filter.bx-yellow .bx-filter-select-container:focus {
	border-color: #e59325;
}
.bx-retina .bx-filter.bx-yellow .bx-filter-select-container.bx-active,
.bx-retina .bx-filter.bx-yellow .bx-filter-select-container:focus {
	-webkit-border-image: url(images/active.png) 2 repeat;
	-moz-border-image: url(images/active.png) 2 repeat;
	-o-border-image: url(images/active.png) 2 repeat;
	border-image: url(images/active.png) 2 repeat;
}
/*
*	Select popup
*
*/
/*
* TAGS
*
*/
.bx-filter.bx-yellow .bx-filter-tag {
	border-top: 1px solid #ffdda8;
	border-bottom: 1px solid #ffdda8;
}
.bx-filter.bx-yellow .bx-tag-link {
	color: #e59325;
}
/*
*	LABEL
*
*/
/*
*	Checkbox / Radio 
*
*/
/*
* 	BTN 
*
*/
.bx-filter.bx-yellow .bx-filter-param-label.bx-active .bx-filter-param-btn,
.bx-filter.bx-yellow .bx-filter-param-btn:hover,
.bx-filter.bx-yellow .bx-filter-param-btn:active,
.bx-filter.bx-yellow .bx-filter-param-btn:focus {
	border-color: #e59325;
}
.bx-retina .bx-filter.bx-yellow .bx-filter-param-label.bx-active .bx-filter-param-btn,
.bx-retina .bx-filter.bx-yellow .bx-filter-param-btn:hover,
.bx-retina .bx-filter.bx-yellow .bx-filter-param-btn:active,
.bx-retina .bx-filter.bx-yellow .bx-filter-select-container:focus {
	-webkit-border-image: url(images/active.png) 2 repeat;
	-moz-border-image: url(images/active.png) 2 repeat;
	-o-border-image: url(images/active.png) 2 repeat;
	border-image: url(images/active.png) 2 repeat;
}
/*
* BTN P/M
*
*/
/*
*	icon
*
*/
/*
* 	BIZ
*
*/
/*
*	BTN result and reset 
*
*/
.bx-filter.bx-yellow .btn-themes {
	background-color: #e59325;
	border-color: #e59325;
	color: #FFF
}
.bx-filter.bx-yellow .btn-themes.bx-active,
.bx-filter.bx-yellow .btn-themes.focus,
.bx-filter.bx-yellow .btn-themes:active,
.bx-filter.bx-yellow .btn-themes:focus,
.bx-filter.bx-yellow .btn-themes:hover{
	background-color: #f0bf72;
	border-color: #f0bf72;
	color: #FFF
}
/*
* 	Result Popup
*
*/