.search-page {margin-bottom:50px;}
.search-query {font-size:20px; font-style:italic; margin-bottom:30px;}

.search-page-input {border:1px solid #BFBFBF; height:40px; padding:8px 12px; margin-bottom:20px; width:calc(100% - 30px); max-width:350px;}
.search-page-btn {background: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.7497 23.488L15.8551 14.5935C18.9793 10.7726 18.4144 5.14264 14.5936 2.01853C10.7727 -1.10558 5.1427 -0.540712 2.01859 3.28011C-1.10552 7.10094 -0.540651 12.731 3.28018 15.8551C6.57127 18.546 11.3025 18.546 14.5936 15.8551L23.4881 24.7496C23.8426 25.092 24.4074 25.0821 24.7497 24.7277C25.0836 24.3819 25.0836 23.8338 24.7497 23.488ZM8.95114 16.0888C5.01091 16.0844 1.81779 12.8913 1.8134 8.95108C1.8134 5.00902 5.00908 1.81334 8.95114 1.81334C12.8932 1.81334 16.0889 5.00902 16.0889 8.95108C16.0889 12.8931 12.8932 16.0888 8.95114 16.0888Z' fill='%23727272'/%3E%3C/svg%3E") center no-repeat; border:0; padding:0; cursor:pointer; width:25px; height:40px; vertical-align:middle; position:relative; left:-40px;}

.search-result {font-size:18px; margin-bottom:30px; max-width:1400px;}

.search-item { margin: 0 0 15px; padding: 0 0 15px; border-bottom: 1px solid #ddd;}
.search-item h4 { font-size: 20px; font-weight: normal; line-height: 1.2; margin: 0 0 15px;}
.search-item h4 a { text-decoration:none; color:#333;}
.search-preview {margin: 0.5em 0; font-weight:300;}


