.order-step {
	display:none;
}
.order-step.active {
	display:block;
}

.os-order {
}
.os-order .error {
    color: #a40000;
}
.order-field.error-novalid {
	border-color:red;
}
.os-order .location {
	/*min-width: 400px; */
	margin-bottom:20px;
}
.enum-option {
    display:block;
}