@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNovaCond-Regular.eot');
	src: url('../fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/ProximaNovaCond-Regular.ttf') format('truetype'),
			 url('../fonts/ProximaNovaCond-Regular.woff') format('woff'),
			 url('../fonts/ProximaNovaCond-Regular.woff2') format('woff2');
	font-weight: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNovaCond-Bold.eot');
	src: url('../fonts/ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/ProximaNovaCond-Bold.ttf') format('truetype'),
			 url('../fonts/ProximaNovaCond-Bold.woff') format('woff'),
			 url('../fonts/ProximaNovaCond-Bold.woff2') format('woff2');
	font-weight: bold;
	font-display: swap;
}
@font-face {
	font-family: 'AlphaHeadline-Bold';
	src: url('../fonts/AlphaHeadline-Bold.eot');
	src: url('../fonts/AlphaHeadline-Bold.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/AlphaHeadline-Bold.ttf') format('truetype'),
			 url('../fonts/AlphaHeadline-Bold.woff') format('woff'),
			 url('../fonts/AlphaHeadline-Bold.woff2') format('woff2');
	font-weight: bold;
	font-display: swap;
}

:root {
	--black: #000;
	--gray: #727272;
	--gray-light: #F2F2F2;
	--gray-light2: #F0F0F0;
	--orange: #E59325;
}

:focus {
	outline-style: none;
	outline-width: 0px !important;
	outline-color: none !important;
}
body {
	font-family:'Proxima Nova';
	font-weight: 400;
	color:var(--black);
	font-size:16px;
	background:#fff;
}
img {
	max-width:100%;
}
b, strong {
	font-weight:700;
}
a {
	color:var(--gray);
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
	color:var(--gray);
}

.slider-product-name,
.product-title,
.product-item-name,
.popup-basket-name,
.basket-item-name {
	font-family:'AlphaHeadline-Bold';
}

.hidden {
	overflow:hidden;
}
.list-simple {
	margin:0;
	padding:0;
	list-style:none;
}
.text-center {
	text-align:center;
}
.text-right {
	text-align:right;
}
.text-left {
	text-align:left;
}
.text-upper {
	text-transform:uppercase;
}

.slick-arrow {
	width: 50px;
	height: 50px;
	padding: 0;
	font-size: 0;
	cursor: pointer;
	display: inline-block;
	position: absolute;
	z-index: 30;
	border: 0;
	font-size: 0;
	top:calc(50% - 25px);
}
.slick-arrow.slick-prev {
	left:15px; 
	background:url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='M12.0958 23.6281L35.1838 0.540112C35.9481 -0.198074 37.1661 -0.17688 37.9043 0.58746C38.6244 1.33309 38.6244 2.51511 37.9043 3.26062L16.1765 24.9884L37.9043 46.7162C38.6554 47.4674 38.6554 48.6854 37.9043 49.4367C37.1529 50.1878 35.935 50.1878 35.1838 49.4367L12.0958 26.3486C11.3446 25.5973 11.3446 24.3794 12.0958 23.6281Z' fill='black'/%3E%3C/g%3E%3C/svg%3E") center no-repeat;
}
.slick-arrow.slick-next {
	right:15px; 
	background:url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='M37.9042 23.6282L14.8162 0.540127C14.0519 -0.198059 12.8339 -0.176865 12.0957 0.587475C11.3756 1.3331 11.3756 2.51512 12.0957 3.26064L33.8235 24.9884L12.0957 46.7162C11.3446 47.4674 11.3446 48.6854 12.0957 49.4367C12.8471 50.1878 14.065 50.1878 14.8162 49.4367L37.9042 26.3487C38.6554 25.5973 38.6554 24.3794 37.9042 23.6282Z' fill='black'/%3E%3C/g%3E%3C/svg%3E%0A") center no-repeat;
}
.slick-dots {
	margin:0;
	padding:0;
	list-style:none;
	text-align:center;
}
.slick-dots li {
	display:inline-block;
	width:20px;
	height:20px;
	margin:0 5px;
	background:#D1D1D1;
	cursor:pointer;
	border-radius:50%;
}
.slick-dots li.slick-active {
	background:var(--orange);
}
.slick-dots button {
	display:none;
}


.btn {
	display:inline-block;
	text-decoration:none;
	border:0;
	padding:11px 25px;
	border-radius:0;
	cursor:pointer;
	text-align:center;
	text-transform:uppercase;
	transition:all 0.3s ease-in-out;
	color:var(--black);
	background:var(--orange);
	font-size:20px;
}
.btn[disabled] {
	cursor:not-allowed;
}
.btn:hover {
	text-decoration:none;
	color:var(--black);
	background:var(--gray-light);
}
.btn-gray {
	color:var(--black);
	background:var(--gray-light);
}
.btn-gray:hover {
	color:var(--black);
	background:var(--orange);
}
.btn-white {
	color:var(--black);
	background:#fff;
}
.btn-white:hover {
	color:var(--black);
	background:var(--orange);
}
.btn-block {
	width:100%;
}

.btn-line {
	color:var(--black);
	font-size:20px;
	text-transform:uppercase;
	text-decoration:none;
	display:inline-block;
	position:relative;
	letter-spacing:0.07em;
	transition:all 0.2s ease-in-out;
}
.btn-line:hover{
	color:var(--black);
	padding-left:40px;
}
.btn-line:before {
	content:'';
	display:inline-block;
	width:56px;
	height:2px;
	background:var(--gray);
	margin-right:10px;
	vertical-align:middle;
}
.btn-line:after {
	content:'';
	display:inline-block;
	width:30px;
	height:2px;
	background:var(--gray);
	margin-left:10px;
	vertical-align:middle;
	transition:all 0.2s ease-in-out;
}
.btn-line:hover:after {
	width:0px;
	margin-left:0px;
}

.wrapper {
	max-width:1920px;
	margin:0 auto;
	padding-left:30px;
	padding-right:30px;
}
.wrapper-full {
	padding:0;
}
.h1 {
	font-weight:400;
	text-transform:uppercase;
	margin-bottom:30px;
	font-size:32px;
	letter-spacing:0.06em;
}

/* HEADER */
.header {
	padding-top:20px;
	padding-bottom:15px;
	background:#fff;
	top:0;
	z-index:50;
}
.header .wrapper {
	padding-left:0px;
}

.header-cols {
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.h-col-logo, .h-col-icons {
	flex:0 0 auto;
}
.h-col-logo {
	/* margin-left:56px; */
	position:relative;
	z-index:32;
	max-width:194px;
}
.h-col-nav {
	padding:0 60px 0 15px;
	flex:1 1 auto;
	text-align:right;
}
.header-phone-icon {
	display:none;
	width:25px;
	height:25px;
	background:url(../i/svg/phone.svg) center no-repeat;
}

.nav-left-toggle {
	flex:0 0 auto;
	cursor:pointer;
	width:90px;
	height:27px;
	background:url("data:image/svg+xml,%3Csvg width='36' height='25' viewBox='0 0 36 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='36' height='3' fill='%23C0C0C0'/%3E%3Crect y='11' width='36' height='3' fill='%23C0C0C0'/%3E%3Crect y='22' width='36' height='3' fill='%23C0C0C0'/%3E%3C/svg%3E") center no-repeat;
	position:relative;
	z-index:32;
}
.nav-left-toggle.-opened {
	background: url("data:image/svg+xml,%3Csvg width='29' height='28' viewBox='0 0 29 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='25.4558' width='36' height='3' transform='rotate(-45 1 25.4558)' fill='%23C0C0C0'/%3E%3Crect x='3' width='36' height='3' transform='rotate(45 3 0)' fill='%23C0C0C0'/%3E%3C/svg%3E") center no-repeat;
}
.nav-toggle {
	display:none;
	cursor:pointer;
	width:25px;
	height:20px;
	/* background:url(../i/svg/menu-burger-2.svg) center no-repeat; */
	background: url("data:image/svg+xml,%3Csvg width='25' height='17' viewBox='0 0 25 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='25' height='3' fill='%23000000'/%3E%3Crect y='7' width='25' height='3' fill='%23000000'/%3E%3Crect y='14' width='25' height='3' fill='%23000000'/%3E%3C/svg%3E") center no-repeat;

}
.nav-toggle.-opened {
	background:url(../i/svg/menu-close-black.svg) center no-repeat;
}

.navigation-list {
	/* text-align:center; */
}
.navigation-item {
	display:inline-block
}
.navigation-link {
	text-transform:uppercase;
	text-decoration:none;
	font-size:20px;
	display:block;
	padding:0 20px;
	color:inherit;
	opacity:0.8;
}
.navigation-link:hover {
	color:inherit;
	text-decoration:none;
	opacity:1;
}

.header-icons {
	text-align:right;
}
.header-icon {
	display:inline-block; 
	max-width:25px;
	margin-left:25px;
}
.header-icon:first-of-type {
	margin-left:0
}
.header-icon:hover {
	opacity:0.8;
}

.header-search-form {
	position:absolute;
	top:72px;
	right:0px;
	background:#bbb;
	padding:0 10px;
	width:100%;
	max-width:300px;
	overflow:hidden;
	max-height:0;
	transition:all 0.3s;
}
.header-search-form.-opened {
	overflow:visible;
	max-height:50px;
}
.header-search-input {
	border:0;
	border-bottom:1px solid #fff;
	padding:0 30px 0 0;
	background:none;
	width:100%;
	height:26px;
	color:#fff;
	margin:10px 0;
}
.header-search-btn {
	background: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.7497 23.488L15.8551 14.5935C18.9793 10.7726 18.4144 5.14264 14.5936 2.01853C10.7727 -1.10558 5.1427 -0.540712 2.01859 3.28011C-1.10552 7.10094 -0.540651 12.731 3.28018 15.8551C6.57127 18.546 11.3025 18.546 14.5936 15.8551L23.4881 24.7496C23.8426 25.092 24.4074 25.0821 24.7497 24.7277C25.0836 24.3819 25.0836 23.8338 24.7497 23.488ZM8.95114 16.0888C5.01091 16.0844 1.81779 12.8913 1.8134 8.95108C1.8134 5.00902 5.00908 1.81334 8.95114 1.81334C12.8932 1.81334 16.0889 5.00902 16.0889 8.95108C16.0889 12.8931 12.8932 16.0888 8.95114 16.0888Z' fill='%23ffffff'/%3E%3C/svg%3E") center no-repeat;
	background-size:100%;
	border:0;
	padding:0;
	position:absolute;
	right:12px;
	top:10px;
	width:20px;
	height:20px;
	cursor:pointer;
}

.nav-left {
	background:#F9F9F9;
	box-shadow:5px 10px 30px rgba(132, 132, 132, 0.2);
	min-width:520px;
	padding:115px 90px 81px 110px;
	position:absolute;
	top:0;
	left:0;
	z-index:31;
	transition:all 0.4s ease-in-out;
	display:flex;
	transform:translateX(-100%);
}
.nav-left.-opened {
	transform:translateX(0);
}
.nav-left.-opened.-bg:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:calc(100vw - 17px);
	/* background:rgba(249, 249, 249, 0.7); */
	background:#fff;
	z-index:-1;
}
.nav-left-list {
	flex: 0 0 auto;
	width:320px;
}
.nav-left-item {
	margin-top:20px;
}
.nav-left-link {
	text-transform:uppercase;
	font-size:20px;
	line-height:1;
	color:var(--black);
	text-decoration:none;
	letter-spacing:0.04em;
}
.nav-left-link:hover {
	color:var(--orange);
	text-decoration:none;
}
.subnav-left-list {
	padding-left:70px;
}
.subnav-left-list .nav-left-item {
	margin-top:16px;
}

.nav-left-product {
	position:relative;
	padding-left:150px;
	width:60vw; 
	margin-top:17px;
	display:none;
}


.main {
	margin-top:35px;
}
.main .wrapper {
	padding-left:90px;
}

.breadcrumbs {
	text-transform:uppercase;
	color:var(--gray);
	margin-bottom:25px;
}
.breadcrumbs li {
	display:inline-block;
	margin-right:2px;
}
.breadcrumbs a {
	text-decoration:none;
	padding-right:2px;
}

.page-content {
	margin-bottom:30px;
}
.section-title {
	text-align:center;
	font-size:34px;
	line-height:1;
	font-weight:400;
	margin-bottom:60px;
	text-transform:uppercase;
	letter-spacing:0.1em;
}

.toggle-link {
	cursor:pointer;
	color:var(--orange);
	border-bottom:1px dashed;
}
.toggle-link:hover {
	cursor:pointer;
	color:var(--orange);
	border-bottom-color:transparent;
}
[data-toggle-text] {
	display:none;
}


/* ГЛАВНАЯ */

.index-sliders {
	background:var(--gray-light);
	display:flex;
	flex-wrap:wrap;
	margin:-30px 0 50px;
}
.index-sliders-col {
	width:50%;
}
.index-sliders-col:first-of-type {
	border-right:3px solid #E6E6E6;
}
.index-slider {
	padding:40px 30px 70px 45px;
}
.index-slider-item {
	position:relative;
	margin-bottom:35px;
}
.slider-warranty-title {
	font-size:42px;
	line-height:1;
	text-transform:uppercase;
	color:var(--orange);
	letter-spacing:0.035em;
	margin-bottom:5px;
}
.slider-warranty-value {
	font-size:30px;
	line-height:1;
	color:var(--gray);
	margin-bottom:33%;
}
.slider-product-img {
	position:absolute;
	bottom:0;
	right:0;
	max-width:50%;
}
.slider-product-content {
	position:relative;
}
.slider-product-category {
	display:inline-block;
	font-size:32px;
	line-height:1;
	color:#353534;
	letter-spacing:0.18em;
	text-transform:uppercase;
}
.slider-product-name {
	display:inline-block;
	font-size:90px;
	line-height:1.1;
	color:#353534;
	letter-spacing:0.02em;
	text-transform:uppercase;
	vertical-align: text-top;
	margin:0 0 25px -10px;
}
.slider-product-text {
	font-size:18px;
	/* letter-spacing:0.07em; */
	color:var(--gray);
	max-width:365px;
	max-height:110px;
	overflow:hidden;
}
.slider-product-price {
	color:#353534;
	font-size:32px;
	line-height:1;
	margin:60px 0 20px;
}
.slider-product-price span {
	font-size:72px;
	margin:0 25px 0 20px;
}
.slider-product-btn {
	color:#353534;
	font-size:32px;
	line-height:1;
	display:inline-block;
	text-decoration:none;
}
.slider-product-btn:before, .slider-product-btn:after {
	content: '';
	display: inline-block;
	width: 38px;
	height: 3px;
	background: var(--gray);
	vertical-align: middle;
	margin-right: 24px;
	transition: all 0.2s ease-in-out;
}
.slider-product-btn:after {
	margin:0 0 0 32px;
}
.slider-product-btn:hover {
	color:#353534;
	text-decoration:none;
}
.slider-product-btn:hover:before {
	width:0;
	margin:0;
}


.interior-title {
	margin-bottom:36px;
}
.interior-index {
	background:url(../i/interior-bg.jpg) center no-repeat;
	background-size:cover;
	min-height:800px;
	position:relative;
	margin-bottom:100px;
}
.interior-index-text {
	max-width:600px;
	padding:85px 85px 80px 95px;
	background: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(4px);
	margin-left:96px;
	font-size:22px;
	line-height:1.6;
	color:var(--gray);
}
.interior-index-btn {
	font-size:32px;
	line-height:1;
	color:var(--orange);
	text-decoration:none;
	margin-top:60px;
	display:inline-block;
}
.interior-index-btn:before{
	content: '';
	display: inline-block;
	width: 38px;
	height: 3px;
	background: var(--orange);
	vertical-align: middle;
	margin-right: 24px;
	transition: all 0.2s ease-in-out;
}
.interior-index-btn:hover {
	color:var(--orange);
}
.interior-index-btn:hover:before {
	width:0;
	margin:0;
}

.own-production {
	overflow:hidden;
}
.own-production-img {
	float:left;
	width:51%;
}
.own-production-block {
	float:right;
	width:49%;
	color:#353534;
	padding:50px 8% 40px 5.5%;
	font-size:22px;
}
.own-production-block.-bg {
	background:#DED1BE;
}
.own-production-title {
	font-size:34px;
	color:var(--orange);
	text-transform:uppercase;
	margin-bottom:10px;
}
.-bg .own-production-title {
	color:var(--black);
}

.own-production.-inverse {
	padding-right:60px;
}
.-inverse .own-production-img  {
	float:right;
}
.-inverse .own-production-block  {
	float:left;
}

.our-projects {
	position:relative;
	display:flex;
	padding:90px 14% 100px 9%;
	justify-content:space-between;
	align-items:center;
}
.our-projects-img {
	flex:0 0 auto;
}
.our-projects-text {
	max-width:840px;
	padding-left:20px;
}
.our-projects-text p {
	font-size:22px;
	color:var(--gray);
}
.vert-strip {
	position:absolute;
	top:0;
	left:0;
	width:660px;
	background:var(--gray-light2);
	height:2330px;
	z-index:-1;
}

.index-steps {
	margin-right:155px;
}
.index-step {
	margin-bottom:80px;
	display:flex;
	justify-content:space-between;
}
.index-step-content {
	margin-top:25px;
	padding-right:70px;
	padding-left:150px;
	position:relative;
}
.index-step-num {
	font-size:82px;
	line-height:0.9;
	color:var(--black);
	position:absolute;
	top:0;
	left:0;
	background:#E9E1D6;
	text-align:center;
	width:100px;
	padding:13px 0;
}
.index-step-title {
	text-transform:uppercase;
	font-size:34px;
	line-height:1;
	margin:15px 0 30px;
	letter-spacing:0.1em;
	color:var(--orange);
}
.index-step-text {
	font-size:22px;
	color:#353534;
	letter-spacing:0.07em;
}
.index-step-img {
	flex:0 0 63%;
}
.index-step-img video {
	max-width:100%;
}
.index-step:nth-child(even) .index-step-content{
	padding-left:115px;
}
.index-step:nth-child(even) .index-step-img {
	order:-1;
}
.index-step:nth-child(even) .index-step-num {
	background:none;
	padding:0;
}

.trust-us {
	background:var(--gray-light2);
	padding:66px 0 100px;
}
.bloger-list {
	max-width:500px;
	margin:120px auto 0;
}
.bloger-item {
	text-align:center;
	margin:0 20px;
	cursor:pointer;
}
.bloger-item-img {
	background:#C4C4C4;
	width:125px;
	height:125px;
	border-radius:50%;
	margin:0 auto;
}
.bloger-item-name {
	font-size:34px;
	line-height:1;
	margin-top:36px;
	color:#353534;
	letter-spacing:0.06em;
}

.bloger-block {
	padding-left:100px;
	padding-bottom:60px;
	/* display:flex; */
	display:none;
	align-items:center;
	overflow:hidden;
	background:var(--gray-light2);
	position:relative;
}
.bloger-block.-active {
	display:flex;
}
.bloger-img {
	position:relative;
	z-index:1;
	min-width:250px;
}
.bloger-text {
	font-size:22px;
	color:var(--gray);
	letter-spacing:0.07em;
	margin:0 20px 0 130px;
	max-width:520px;
	position:relative;
	z-index:0;
	padding:110px 0 200px;
	background:#fff;
}
.bloger-text:before {
	content:'';
	position:absolute;
	top:0;
	left:-70vw;
	background:#fff;
	height:100%;
	width:130vw;
	z-index:-1;
}

.compile-block {
	background:url(../i/compile-bg.jpg) center no-repeat;
	background-size:cover;
	height:900px;
	text-align:center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.compile-block-title {
	color:#fff;
	text-transform:uppercase;
	letter-spacing:0.12em;
	font-size:70px;
	line-height:1;
	margin-bottom:100px;
}
.compile-block .btn {
	width:100%;
	max-width:300px;
}


/* КАТАЛОГ */
.catalog {
	display:flex;
	margin:55px 0 100px;
}

.catalog-aside {
	flex:0 0 auto;
	width:405px;
	padding:0 62px;
}

.catalog-filter-toggle {
	color:var(--gray);
	font-size:16px;
	letter-spacing: 0.06em;
	background:url(../i/filter-menu.png) 0 center no-repeat;
	padding-left:23px;
	margin-bottom:15px;
	display:inline-block;
	cursor:pointer;
}
.catalog-filter {
	
}
.filter-row {
	border-bottom:1px solid var(--gray-light);
	padding:14px 0;
}
.filter-row:first-of-type {
	border-top:1px solid var(--gray-light);
}
.filter-row-name {
	text-transform:uppercase;
	color:var(--black);
	font-size:16px;
	cursor:pointer;
	position:relative;
	padding:0 12px 0 34px;
	letter-spacing:0.06em;
}
.filter-row-name:after {
	content:'';
	position:absolute;
	top:calc(50% - 8px);
	right:12px;
	width:16px;
	height:16px;
	background:url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16L8 8L8 -5.96046e-08' stroke='black'/%3E%3Cpath d='M0 8L8 8L16 8' stroke='black'/%3E%3C/svg%3E") center no-repeat;
	transition:all 0.2s;
}
.filter-row-name.-opened:after {
	transform: rotate(45deg);
}
.filter-row-content {
	padding:10px 0 10px 34px;
	display:none;
}
.filter-input {
	border:1px solid #bfbfbf;
	width:100%;
	padding:5px 8px;
}
.filter-list {
	padding-left:25px;
}
.filter-list-item {
	cursor:pointer;
	padding:0;
	margin:0;
	font-size:14px;
	line-height:27px;
	text-transform:uppercase;
	color:#3E3E3E;
	display:block;
}
.filter-list-item.disabled  {
	color:var(--gray);
}
.filter-list-item:hover, .filter-list-item.active  {
	color:var(--orange);
}
.filter-list-item input {
	display:none;
}
.filter-colors {
	margin-top:15px;
}
.filter-color-item {
	display:inline-block;
	width:39px;
	height:39px;
	border-radius:50%;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	margin:8px 9px;
	cursor:pointer;
}
.filter-color-item.active {
	border:2px solid #F0A91D;
}

.filter-row-btns {
	margin:18px 0 0 34px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.filter-btn {
	text-decoration:none;
	color:var(--black);
	text-transform:uppercase;
	font-size:16px;
	letter-spacing:0.07em;
	padding:0;
	border:0;
	background:none;
	cursor:pointer;
}
.filter-btn.-reset {
	color:var(--gray) !important;
}
.filter-btn:hover {
	color:var(--orange);
}

.catalog-content {
	flex:1 1 auto;
	width:100%;
}

.product-list {
	width:calc(100% + 30px);
	/* display:flex; */
	flex-wrap:wrap;
	justify-content:space-between;
	overflow:hidden;
	margin-left:-30px;
}
.product-item {
	width:calc(33.333% - 30px);
	margin:0 0 25px 30px;
	float:left;
}

.product-item .img-x2,
.product-item .img-x2-v {
	display:none;
}

/*ширина 2 карточки*/
.product-item:nth-child(1) {
	width:calc(66.6% - 30px);
}

.product-item:nth-child(1) .img-normal {
	display:none;
}
.product-item:nth-child(1) .img-x2 {
	display:block;
}


.product-item-img {
	position:relative;
	1overflow:hidden;
}
.product-item-img .img-normal,
.product-item-img .img-x2,
.product-item-img .img-x2-v {
	padding-top:102%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}
.product-item-img .img-x2 {
	padding-top:calc((102% - 30px) / 2);
}
.product-item-img .img-x2-v {
	padding-top:calc(204.1% + 51px + 25px);
}

.product-item-title {
	position:absolute;
	left:17px;
	bottom:6px;
	color:#fff;
	text-transform:uppercase;
}
.product-item-category {
	font-size:12px;
	letter-spacing:0.14em;
	display:inline-block;
}
.product-item-name {
	font-size:22px;
	display:inline-block;
	vertical-align:text-top;
	line-height:2.2;
	margin-left:-2px;
}
.product-item-favorite {
	position:absolute;
	top:27px;
	right:30px;
	display:inline-block;
	width:30px;
	height:30px;
	background:url(../i/svg/heart-white.svg) center no-repeat;
	background-size:100%;
	cursor:pointer;
}
.product-item-favorite.-in {
	background-image:url(../i/svg/heart-white-fill.svg);
}
.product-item-bottom {
	margin-top:12px;
	color:var(--black);
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	padding:0 20px 0 25px;
	align-items:center;
}
.product-item-price {
	font-size:18px;
}
.product-item-price span {
	font-size:26px;
	padding:0 2px;
}
.product-item-price .rub {
	font-size:13px;
	text-transform:uppercase;
}
.product-item-link {
	cursor:pointer;
	display:inline-block;
	color:var(--orange);
	font-size:18px;
	text-transform:uppercase;
	text-decoration:none;
	letter-spacing:0.07em;
	position:relative;
}
.product-item-link:hover {
	color:var(--orange);
}
.product-item-link:before, .product-item-link:after {
	content: '';
	display: inline-block;
	width: 14px;
	height: 1px;
	background: var(--orange);
	vertical-align: middle;
	margin-right: 4px;
	transition: all 0.2s ease-in-out;
}
.product-item-link:after {
	width: 8px;
	margin: 0 0 0 15px;
}
.product-item-link:hover:after {
	width:0;
	margin:0;
}

.product-item-img:hover {
	overflow:visible;
}
.product-item-img:hover .product-item-hover {
	1transform:translateY(0);
	display:flex;
}
.product-item-hover {
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	height:100%;
	width:calc(200% + 30px);
	color:var(--black);
	background:var(--gray-light2);
	transition:all 0.3s ease-in-out;
	display:flex;
	display:none;
	1transform:translateY(-100%);
}

.product-item:nth-child(1) .product-item-hover {
	width:100%;
}
.product-item:nth-child(2) .product-item-hover,
.product-item:nth-child(3n+2) .product-item-hover {
	left:auto;
	right:0;
}

.product-item-hover .product-item-title {
	color:inherit;
}
.product-item-hover .product-item-favorite {
	background-image:url(../i/svg/heart-new.svg);
	z-index:2;
}
.product-item-hover .product-item-favorite.-in {
	background-image:url(../i/svg/heart-fill.svg);
}
.product-item-hover--col {
	flex:0 0 calc(50% - 15px);
}
.product-item-hover--img {
	text-align:center;
	height:100%;
	1margin:40px 30px 60px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.product-item-hover--img img {
	max-width:78%;
}
.product-item-hover--content {
	padding:55px 30px 15px 30px;
	letter-spacing:0.06em;
	height:100%;
	position:relative;
}
.product-item-content-title {
	text-transform:uppercase;
	font-size:20px;
	margin-bottom:20px;
}
.product-item-prop-title {
	text-transform:uppercase;
	font-size:16px;
	margin:10px 0 15px;
	font-weight:bold;
}
.product-item-prop {
	font-size:16px;
	margin-bottom:10px;
	color:var(--gray);
}
.product-item-prop .-material {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-right: 5px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.product-item-hover-links {
	position:absolute;
	bottom:15px;
	right:30px;
	text-align:right;
}
.product-item-hover-link {
	display:block;
	color:var(--black);
	font-size:16px;
	text-transform:uppercase;
	text-decoration:none;
	letter-spacing:0.07em;
	position:relative;
	margin-top:3px;
}
.product-item-hover-link:hover {
	color:var(--black);
}
.product-item-hover-link:before, .product-item-hover-link:after {
	content: '';
	display: inline-block;
	width: 14px;
	height: 1px;
	background: var(--black);
	vertical-align: middle;
	margin-right: 8px;
	transition: all 0.2s ease-in-out;
}
.product-item-hover-link:after {
	width: 8px;
	margin: 0 0 0 6px;
}
.product-item-hover-link:hover:after {
	width:0;
	margin:0;
}

.bx-pagination.bx-green .bx-pagination-container ul li.bx-active span {
	background:var(--orange);
}


/* КАРТОЧКА */
.product {
	
}
.product-gallery {
	background:var(--gray-light);
	height:100%;
	display:flex;
	align-items:center;
	position:relative;
}
.product-gallery-left {
	flex:0 0 auto;
	width:75%;
}
.product-gallery-right {
	flex:0 0 25%;
	width:25%;
}
.product-img {
	padding:30px 50px;
	margin:0 auto;
}
.product-slider {
	padding:0 50px;
}
.product-slider img {
	margin:0 auto;
}
.product-slider .slick-dots {
	margin-top:45px;
}
.product-slider-preview.no-transform .slick-track {
  transform: none!important;
}
.product-slider-preview.slick-vertical {
	max-width:200px;
	margin:0 auto;
	padding:0 20px;
}
.product-slider-preview.slick-vertical .slick-slide {
	margin:30px 0;
}
.product-left {
	padding:0px 0 30px;
}
.product-category {
	font-size:24px;
	text-transform:uppercase;
	letter-spacing: 0.14em;
	display:inline-block;
}
.product-title {
	display:inline-block;
	font-size:64px;
	text-transform:uppercase;
	font-weight:700;
	vertical-align:text-top;
	line-height:1.2;
}
.product-favorite {
	display:inline-block;
	width:30px;
	height:28px;
	background:url(../i/svg/heart-new.svg) center no-repeat;
	background-size:100%;
}
.product-favorite.-in {
	background-image:url(../i/svg/heart-fill.svg);
}
.product-favorite-mobile {
	position:absolute;
	top:10px;
	right:20px;
	z-index:3;
}
.product-preview {
	margin-top:30px;
}

.product-text-hidden {
	font-size:20px;
	color:var(--gray);
	margin-bottom:8px;
	max-height:85px;
	overflow:hidden;
	transition:all 0.5s;
}
.product-text-hidden.-opened {
	max-height:500px;
}
.product-text-show {
	cursor:pointer;
	display:inline-block;
	color:var(--orange);
	font-size:15px;
	text-transform:uppercase;
	text-decoration:none;
	letter-spacing:0.5px;
	position:relative;
}
.product-text-show:before, .product-text-show:after {
	content:'';
	display:inline-block;
	width:20px;
	height:1px;
	background:var(--orange);
	vertical-align:middle;
	margin-right:8px;
	transition:all 0.2s ease-in-out;
}
.product-text-show:after {
	margin:0 0 0 8px;
}
.product-text-show:hover:before {
	width:0;
	margin-right:0;
}

.product-price-holder {
	margin-top:24px;
	margin-bottom:40px;
}
.product-price {
	font-size:42px;
	line-height:1;
	margin-right:8px;
}
.product-price-rub {
	font-size:20px;
}
.product-price-old {
	color: var(--gray);
	text-decoration: line-through;
	font-size: 28px;
}

.product-materials-title {
	font-size:20px;
	text-transform:uppercase;
	margin-bottom:20px;
	letter-spacing:0.1em;
}
.product-materials-list {
	margin-bottom:30px;
}
.product-material-item {
	display:inline-block;
	max-width:80px;
	color:var(--gray);
	font-size:20px;
	line-height:1.2;
	text-align:center;
	cursor:pointer;
}
.product-material-item:not(:last-of-type) {
	margin-right:40px;
}
.product-material-img {
	display:inline-block;
	width:80px;
	height:80px;
	background:#C4C4C4;
	border-radius:50%;
	position:relative;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.product-material-img:hover {
	box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.3);
}
.product-material-img:before {
	content:'';
	position:absolute;
	width:27px;
	height:27px;
	top:50%;
	left:50%;
	background:url(../i/svg/plus-big.svg) center no-repeat;
	background-size:100%;
	transform:translate(-50%, -50%);
}
.product-material-img.-selected:before {
	content:none;
}
.product-btns {
	margin-bottom:30px;
}
.product-btns .btn, .product-btns a {
	margin-bottom:20px;
}

.btn-basket {
	position:relative;
}
.btn-basket[disabled]:hover:before {
	position:absolute;
	top:-39px;
	left:50%;
	content:attr(data-tooltip);
	background:var(--orange);
	color:#fff;
	border-radius:2px;
	padding:1px 12px;
	text-align:center;
	transform:translateX(-50%);
	font-size:16px;
	text-transform:initial;
	transition:all 0.3s ease-in-out;
}
.btn-basket[disabled]:hover:after {
	position:absolute;
	top:-14px;
	left:50%;
	content:'';
	border-radius:1px;
	transform:translateX(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: var(--orange) transparent transparent transparent;
	transition:all 0.3s ease-in-out;
}


.product-warranty-title {
	font-size:26px;
	line-height:1.1;
	text-transform:uppercase;
	margin-bottom:14px;
	letter-spacing:0.1em;
}
.product-warranty-text {
	
}

.section-configuration {
	padding:70px 0;
}
.configuration-list {
	text-align:center;
	max-width:1200px;
	margin:0 auto;
}
.configuration-item {
	display:inline-block;
	width:140px;
	margin:0 10px;
	text-align:center;
}
.configuration-item img {
	margin:0 auto;
}

.product-info {
	max-width:980px;
	margin:0 auto;
}
.product-info-block {
	padding:30px 25px;
	border-bottom:3px solid #F1F1F1;
	color:var(--gray);
	line-height:27px;
	letter-spacing:0.06em;
}
.product-info-block:first-of-type {
	border-top:3px solid #F1F1F1;
}
.product-info-block p {
	margin-bottom:12px;
}
.product-info-block p + .product-info-name {
	margin-top:30px;
}
.product-info-name {
	text-transform:uppercase;
	font-size:20px;
	margin-bottom:20px;
	color:var(--black);
	position:relative;
}
.product-info-name i {
	position:absolute;
	top:3px;
	right:0;
	width:20px;
	height:20px;
	cursor:pointer;
	background:url(../i/svg/down-arrow.svg) center no-repeat;
	background-size:100%;
	transform:rotateX(-180deg);
	transition:rotateX 0.3s ease-in-out;
}
.product-info-name i.-closed {
	transform:rotateX(0deg);
}
.info-prop-title {
	color:var(--black);
	font-size:16px;
	font-weight:700;
	margin-bottom:15px;
	margin-top:12px;
	text-transform:uppercase;
}

.section-interior {
	padding:70px 0 0;
}
.interior-list {
	overflow:hidden;
}
.interior-item {
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	display:block;
	float:left;
	width:100%;
	padding-top:40%;
}
.interior-item.-w-1 {
	width:36%;
}
.interior-item.-w-2 {
	width:64%;
}

.section-similar {
	padding:70px 0;
}
.similar-list {
	margin:0 -15px;
}
.similar-item {
	text-align:center;
	letter-spacing:0.1em;
	margin:0 15px;
}
.similar-item-img {
	display:block;
	background:var(--gray-light);
}
.similar-item-name {
	color:var(--black);
	font-size:15px;
	text-transform:uppercase;
	display:block;
	text-decoration:none;
	margin:10px 0 4px;
}
.similar-item-price {
	font-size:18px;
	color:var(--gray);
}

.choose-upholstery-title {
	font-size:34px;
	line-height:1;
	text-transform:uppercase;
	letter-spacing:0.1em;
	text-align:center;
}
.choose-upholstery-subtitle {
	font-size:30px;
	line-height:1;
	text-transform:uppercase;
	letter-spacing:0.1em;
	text-align:center;
	margin-top:50px;
}
.upholstery-list {
	margin:0 -10px;
	text-align:center;
	padding:0;
}
.upholstery-item {
	margin:40px 10px 0 10px;
	text-align:center;
	cursor:pointer;
	font-size:15px;
	letter-spacing:0.03em;
	display:inline-block;
	max-width:220px;
	vertical-align:top;
	position:relative;
}
.upholstery-item.-selected:before {
	position:absolute;
	bottom:-32px;
	left:50%;
	content:attr(data-tooltip);
	background:var(--orange);
	color:#fff;
	border-radius:2px;
	padding:1px 12px;
	text-align:center;
	transform:translateX(-50%);
	font-size:14px;
	text-transform:initial;
	transition:all 0.3s ease-in-out;
	white-space: nowrap;
	opacity:0;
	animation: show-tooltip 2s;
}
.upholstery-item.-selected:after {
	position:absolute;
	bottom:-10px;
	left:50%;
	content:'';
	border-radius:1px;
	transform:translateX(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0px 10px 10px 10px;
	border-color: transparent transparent var(--orange) transparent;
	transition:all 0.3s ease-in-out;
	opacity:0;
	animation: show-tooltip 2s;
}
@keyframes show-tooltip {
  from {
    opacity:0;
  }
  15% {
    opacity:1;
  }
	85% {
    opacity:1;
  }
  to {
    opacity:0;
  }
}

.upholstery-item-img {
	margin:0 auto 10px;
	display:block;
	width:220px;
	height:220px;
	border-radius:50%;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.-selected .upholstery-item-img {
	border:2px solid var(--orange);
}
.upholstery-item-img:hover {
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
}

.popup-basket-title {
	font-size:34px;
	line-height:1.1;
	text-transform:uppercase;
	margin-bottom:70px;
	color:var(--orange);
	text-align:center;
	letter-spacing:0.06em;
}
.popup-basket-product {
	border: 3px solid #F1F1F1;
	border-width:3px 0;
	padding:50px 0 50px 50px;
	display:flex;
	justify-content:space-between;
	letter-spacing:0.07em;
	align-items:center;
}
.popup-basket-img {
	max-width:120px;
}
.popup-basket-category {
	font-size:14px;
	text-transform:uppercase;
}
.popup-basket-name {
	font-size:24px;
	line-height:1;
	text-transform:uppercase;
	margin-bottom:12px;
}
.popup-basket-material {
	font-size:14px;
}
.popup-basket-material:not(:last-of-type) {
	margin-bottom:6px;
}
.popup-basket-material span {
	display:inline-block;
	width:20px;
	height:20px;
	border-radius:50%;
	margin-right:5px;
	vertical-align:middle;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.popup-basket-count {
	font-size:20px;
}
.popup-basket-count span {
	cursor:pointer;
}
.popup-basket-count input {
	border:0;
	padding:0;
	background:0;
	width:22px;
	text-align:center;
	caret-color: transparent; 
}
.popup-basket-price {
	font-size:20px;
}
.popup-basket-btns {
	text-align:right;
	align-self:end;
}
.popup-basket-btns .btn-line {
	margin-top:13px;
}
.popup-basket-btns .btn-line:first-of-type {
	color:var(--orange);
}
.popup-basket-order-block {
	margin:50px auto 0;
	max-width:470px;
}


/* КОРЗИНА */
.order-steps-block {
	display:flex;
	justify-content:space-between;
	margin:30px auto 40px;
	max-width:1000px;
}
.order-steps-item {
	color:#8C8C8C;
	font-size:14px;
  counter-increment:step-counter;
	position:relative;
}
.order-steps-item.-active {
	color:var(--black);
	font-size:16px;
}

.order-steps-item:before {
  content:counter(step-counter);
  margin-right: 8px;
  color:#BFBFBF;
	border: 1px solid #BFBFBF;
	border-radius:50%;
  font-size:14px;
	width:24px;
	height:24px;
	display:inline-block;
	text-align:center;
}
.order-steps-item.-passed:before {
	border-color:var(--orange);
	color:var(--orange);
}
.order-steps-item.-active:before {
	background:var(--orange);
	border-color:var(--orange);
	color:#fff;
}

.order-steps-item:after {
	content:'';
	position:absolute;
	top:50%;
	left:-180px;
	width:160px;
	height:1px;
	display:block;
	background:#E8E8E8;
}
.order-steps-item.-active:after,
.order-steps-item.-passed:after {
	background:var(--orange);
}
.order-steps-item:first-of-type:after {
	content:none;
}


.basket {
	max-width:1280px;
	margin:0 auto 100px;
}
.basket-table {
	width:100%;
	border:0;
	border-collapse:collapse;
	color:var(--gray);
	font-size:20px;
}
.basket-table-header th {
	font-size:20px;
	font-weight:400;
	border-bottom:1px solid #272727;
	padding-bottom:15px;
	color:var(--black);
}
.basket-table-header th:not(:first-of-type),
.basket-table-item td:not(:first-of-type) {
	text-align:center;
}
.basket-col-delete {
	width:105px;
}
.basket-table-item td {
	padding:40px 0;
}
.basket-table-item:not(:last-of-type) {
	border-bottom:3px solid #f1f1f1;
}
.basket-item-img {
	max-width:110px;
	margin-right:15px;
	display:block;
}
.basket-item-info {
	text-align:left;
	position:relative;
}
.basket-item-category {
	font-size:14px;
	text-transform:uppercase;
}
.basket-item-name {
	font-size:24px;
	line-height:1;
	text-transform:uppercase;
	margin-bottom:12px;
	color:var(--black);
}
.basket-item-material {
	font-size:14px;
}
.basket-item-material:not(:last-of-type) {
	margin-bottom:6px;
}
.basket-item-material span {
	display:inline-block;
	width:20px;
	height:20px;
	border-radius:50%;
	margin-right:5px;
	vertical-align:middle;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.basket-item-count span {
	cursor:pointer;
}
.basket-item-count input {
	border:0;
	padding:0;
	background:0;
	width:22px;
	color:inherit;
	text-align:center;
	caret-color: transparent; 
}
.basket-item-delete {
	display:inline-block;
	width:15px;
	height:15px;
	cursor:pointer;
	background:url(../i/svg/delete.svg) center no-repeat;
	background-size:100%
}
.basket-item-info .basket-item-delete {
	position:absolute;
	top:10px;
	right:0;
}

.basket-panel {
	background:var(--gray-light);
	padding:40px 26px 40px 40px;
	font-size:20px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:center;
	margin-bottom:25px;
}
.basket-coupon-input {
	background:#fff;
	height:50px;
	padding:14px;
	border:0;
	vertical-align:middle;
}
.basket-coupon-btn {
	display:inline-block;
	vertical-align:middle;
	width:35px;
	height:50px;
	cursor:pointer;
	margin-left:-6px;
	background:#fff url(../i/svg/coupon-btn.svg) center no-repeat;
}
.basket-total-block span {
	padding-left:50px;
}

.basket-discount-block, .basket-checkout-block {
	color:var(--gray);
	font-size:20px;
	margin-bottom:20px;
}
.basket-discount-block span, .basket-checkout-block span {
	padding-left:15px;
}
.basket-checkout-block span {
	color:var(--black);
	font-size:24px;
}
.basket-discount-block--note {
	font-size:14px;
}
.basket-btns-block {
	max-width:470px;
}
.basket-btns-block .btn {
	margin-top:25px;
}


.delivery {
	margin:0 auto 100px;
	max-width:740px;
}
.delivery-subtitle {
	font-size:20px;
	text-align:center;
	margin-bottom:40px;
}
.delivery-subtitle a {
	color:var(--orange);
}
.delivery-point {
	display:flex;
	justify-content:space-between;
	margin:-15px 0 12px;
}
.delivery-point-name {
	font-size:14px;
	color:var(--orange);
	text-decoration:underline;
}
.delivery-point-time {
	font-size:12px;
	color:var(--gray);
}
.delivery-point-map {
	margin-bottom:25px;
}
.delivery-type-block:not(:first-of-type) {
	display:none;
}

.payment {
	margin:0 auto 100px;
	max-width:740px;
}
.payment .order-radio-list {
	margin:70px 0 55px;
}
.payment .basket-btns-block {
	margin:0 auto;
}

.order-done {
	margin:0 auto 100px;
	max-width:700px;
}
.order-done img {
	margin-bottom:35px;
}
.order-done-text {
	text-align:center;
	font-size:24px;
	margin:-10px 0 10px;
}
.order-done .basket-btns-block {
	margin:0 auto;
}

.order-radio-list {
	display:flex;
	justify-content:space-between;
}
.order-radio-item {
	margin-bottom:20px;
}
.order-radio-item label {
	margin:0;
	padding:0;
	cursor:pointer;
}
.order-radio-item input {
	display:none;
}
.order-radio-item--inner {
	color:var(--gray);
	transition:all 0.3s;
}
.order-radio-item--img {
	display:block;
	margin:0 auto 26px;
	max-width:50px;
	opacity:0.4;
	transition:all 0.3s;
}
.order-radio-item--name {
	position:relative;
	padding-left:24px;
}
.order-radio-item--name:before {
	content:'';
	position:absolute;
	left:0;
	top:4px;
	width:16px;
	height:16px;
	border:1px solid #c4c4c4;
	border-radius:50%;
}
.order-radio-item--name:after {
	content:none;
	position:absolute;
	left:4px;
	top:8px;
	width:8px;
	height:8px;
	background:var(--orange);
	border-radius:50%;
}
.order-radio-item input:checked + .order-radio-item--inner {
	color:var(--black);
}
.order-radio-item input:checked + .order-radio-item--inner .order-radio-item--img {
	opacity:1;
}
.order-radio-item input:checked + .order-radio-item--inner .order-radio-item--name:before {
	border-color:var(--orange);
}
.order-radio-item input:checked + .order-radio-item--inner .order-radio-item--name:after {
	content:'';
}

.order-form {
	max-width:350px;
	margin-bottom:10px;
}
.order-field {
	width:100%;
	height:40px;
	padding:8px 12px;
	margin-bottom:20px;
	font-size:16px;
	border:1px solid #BFBFBF;
}

.autocomplete-suggestions {
	border:1px solid var(--gray); 
	background:#fff; overflow:auto;
}
.autocomplete-suggestion {
	padding:3px 5px; 
	overflow:hidden;
}
.autocomplete-selected {
	background:var(--gray-light2);
}
.autocomplete-suggestions strong {
	color: var(--orange);
}

.page-about {
	font-size:18px;
	margin:60px 0 0px -60px;
}

.about-block-img {
	margin-bottom:10px;
}
.about-block-title {
	font-size:20px;
	font-weight:bold;
	margin-bottom:10px;
}
.about-block-text {
	font-size:22px;
	margin-bottom:50px;
}

.tab-btn {
	text-align:center;
	text-transform:uppercase;
	font-size:20px;
	color:var(--black);
	background:var(--gray-light);
	border-radius:15px;
	border:1px solid var(--orange);
	padding:10px;
	cursor:pointer;
	margin-bottom:15px;
}
.tab-btn.active {
	background:var(--orange);
}
.tab-content {
	font-size:20px;
	display:none;
	margin:30px auto 0;
	max-width:1330px;
}
.tab-content.active {
	display:block;
}

.tab-ic-item {
	background-repeat:no-repeat;
	background-position:0 0;
	padding-left:70px;
	margin-bottom:20px;
}


.footer-form {
	background:var(--gray-light2);
	padding:60px 0 40px;
}
.footer-form textarea.form__field {
	height:270px;
}
.form-btn-holder {
	background:#fff;
	text-align:right;
	padding:0 40px 30px 0;
}
.form-btn {
	border:0;
	padding:0;
	background:0;
	font-size:32px;
	line-height:1;
	color:var(--orange);
	position:relative;
	text-transform:lowercase;
	cursor:pointer;
	transition:all 0.2s ease-in-out;
}
.form-btn:before {
	content:'';
	display:inline-block;
	width:38px;
	height:2px;
	background:var(--orange);
	margin-right:17px;
	vertical-align:middle;
}
.form-btn:after {
	content:'';
	display:inline-block;
	width:20px;
	height:2px;
	background:var(--orange);
	margin-left:10px;
	vertical-align:middle;
	transition:all 0.2s ease-in-out;
}
.form-btn:hover:after {
	width:0px;
	margin-left:0px;
}



.footer {
	
}
.footer-social {
	text-align:center;
	margin:70px 0 90px;
}
.footer-social-item {
	display:inline-block;
	max-width:50px;
	margin:0 25px 30px;
	transition:all 0.2s ease-in-out;
}
.footer-social-item:hover {
	color:var(--orange);
}

.footer-social-item svg {
	max-width:100%;
	height:auto;
	vertical-align:middle;
}

.navigation-footer {
	
}
.navigation-footer-link {
	display:block;
	margin-bottom:30px;
	font-size:24px;
	text-transform:uppercase;
	text-decoration:none;
}

.footer-models {
	/* margin-left:20px; */
}
.footer-models-title {
	font-size:14px;
	margin-bottom:20px;
	position:relative;
	cursor:pointer;
	text-transform:uppercase;
	color:var(--gray);
	display:none;
}
.footer-models-title:after {
	content:'';
	position:absolute;
	top:5px;
	right:5px;
	width:8px;
	height:8px;
	background:url(../i/svg/triangle.svg) center no-repeat;
	background-size:100%;
}
.footer-model-link {
	font-size:20px;
	margin-bottom:36px;
	text-decoration:none;
	text-transform:uppercase;
	display:inline-block;
	width:30%;
}

.footer-right {
	font-size:20px;
}
.logo-footer img {
	width:100%;
	max-width:270px;
}
.footer-phone {
	font-size:36px;
	line-height:0.9;
	color:var(--black);
	text-decoration:none;
	display:block;
	margin:65px 0 30px;
}
.footer-corsa {
	text-transform:uppercase;
	margin-bottom:25px;
}

.footer-bottom {
	background:var(--gray-light2);
	padding:15px;
	font-size:20px;
	letter-spacing:0.1em;
}

/**/
.js-popup-big {
	display:none;
	padding:50px 40px 40px;
	width:100%;
}
.js-popup-basket {
	display:none;
	padding:50px 4% 50px;
	width:1350px;
}

.fancybox-is-open .fancybox-bg {
	/* background: rgba(159, 159, 159, 0.2);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px); */
}
.fancybox-slide--html .fancybox-close-small {
	width:55px;
	height:55px;
	padding:0;
	color:var(--gray);
	right:5px;
	top:5px;
	opacity:1;
}
.fancybox-slide--html .fancybox-close-small:hover {
	color:var(--black);
}
body.modal-active {
	overflow: hidden;
	margin-right: 17px;
	height: auto;
}
.js-modal {
	-webkit-backface-visibility: hidden;
	height: 100%;
	left: 0;
	outline: none;
	position: fixed;
	-webkit-tap-highlight-color: transparent;
	top: 0;
	width: 100%;
	z-index: 999;
	align-items:center;
	justify-content:center;
	background:rgba(0,0,0,0.6);
	display:none;
}

.js-modal-inner {
	background:#fff;
	position:relative;
	overflow:auto;
	max-height:100vh;
}
.js-modal-close {
	position:absolute;
	top:5px;
	right:5px;
	width:50px;
	height:50px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1' viewBox='0 0 24 24'%3E%3Cpath d='M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
	background-size:100%;
	opacity:0.5;
	cursor:pointer;
}
.js-modal-close:hover {
	opacity:1;
}
.modal-big {
	padding:50px 40px 40px;
	width:100%;
}


.form__row {
	position:relative;
	margin-bottom:70px;
}

.form__field {
	border:0;
	background:#fff;
	padding:11px 14px;
	width: 100%;
	font-size:20px;
}
textarea.form__field {
	resize:none;
	height:110px;
	display:block;
}
.field__error {
	border:1px solid red;
}
.form__policy {
	margin:14px 0 20px;
	color:var(--gray);
}
.form__policy input {
	display:none;
}
.form__policy span {
	position:relative;
	padding-left:30px;
	display:inline-block;
}
.form__policy span:before {
	content:'';
	position:absolute;
	top:4px;
	left:0;
	width:20px;
	height:20px;
	border:3px solid var(--gray);
	border-radius:50%;
	background:#fff;
}
.form__policy input:checked + span:before {
	background-color:var(--orange);
}
.form-success {
	text-align: center;
	text-transform: uppercase;
	font-size: 26px;
	margin-bottom:10px;
}



@media (max-width: 1800px) {
	.catalog-aside {
		padding:0 30px 0 0;
		width:300px;
	}
	.product-item-prop {
		font-size:15px;
	}
}

@media (max-width: 1600px) {
	
	.index-slider {
		padding:30px 30px 50px;
	}
	.slider-warranty-value {
		margin-bottom:28%;
	}
	.slider-product-img {
		max-width:45%;
	}
	.slider-product-name {
		font-size:70px;
	}
	.slider-product-price span {
		font-size:55px;
	}
	
	.own-production-block {
		font-size:20px;
		padding:20px 3%;
	}
	
	.our-projects {
		padding:70px 4%;
	}
	
	.index-steps {
		margin-right:0;
	}
	.index-step-text {
		font-size:20px;
	}
	.index-step-img {
		flex:0 0 58%;
	}
	

	.product-item {
		width:calc(50% - 30px);
	}

	.product-item:nth-child(1) {
		width:calc(100% - 30px);
	}
	
	.product-item-hover--content {
		padding-top:30px;
	}
	
	.product-item:nth-child(2) .product-item-hover,
	.product-item:nth-child(3n+2) .product-item-hover {
		left:0;
		right:auto;
	}

	.product-item:nth-child(2n+1) .product-item-hover {
		left:auto;
		right:0;
	}
	
	
}

@media (max-width: 1200px) {
	
	.h-col-nav {
		padding-right:30px;
	}
	.navigation-link {
		font-size:18px;
		padding:0 10px;
	}
	
	.slider-warranty-title {
		text-align:right;
		font-size:32px;
	}
	.slider-warranty-value {
		margin-bottom:0;
		font-size:24px;
		text-align:right;
	}
	.slider-product-img {
		position:static;
		max-width:300px;
		margin-top:-50px;
	}
	
	.interior-index-text {
		padding:50px;
		max-width:450px;
		margin-left:70px;
	}
	.interior-index-btn {
		margin-top:30px;
	}
	
	.own-production {
		display:flex;
		flex-direction:column;
	}
	.own-production-img,
	.own-production-block {
		float:none;
		width:100%;
	}
	.own-production-block.-bg {
		order:-1;
	}
	.own-production-title {
		font-size:24px;
	}
	
	.index-step-content,
	.index-step:nth-child(even) .index-step-content	{
		padding:0 30px 0 30px;
	}
	.index-step-num, 
	.index-step:nth-child(even) .index-step-num {
		position:static;
		font-size:42px;
		width:50px;
		padding:8px 0;
		float:left;
		margin-right:20px;
		background:#E9E1D6;
	}
	.index-step-title {
		font-size:28px;
		margin:15px 0 30px;
	}
	
	.compile-block {
		height:600px;
	}
	.compile-block-title {
		font-size:50px;
		margin-bottom:60px;
	}
	
	.bloger-block {
		padding-left:0;
	}
	.bloger-text {
		margin:0 20px 0 34px;
		padding:80px 0;
		font-size:20px;
	}
	
	
	.catalog {
		flex-wrap:wrap;
	}
	.catalog-aside {
		width:100%;
		padding:0;
		margin-bottom:30px;
	}
	.catalog-filter {
		max-width:600px;
	}
	
	.product-gallery {
		/* flex-wrap:wrap;
		align-items:flex-start; */
		display:block
	}
	.product-gallery-left {
		width:100%;
	}
	.product-gallery-right {
		flex: 0 0 100%;
		width: 100%;
	}
	.product-slider, .product-img {
		padding:30px;
	}
	.product-slider .slick-arrow {
		display:none !important;
	}
	.product-slider-preview {
		max-width:80%;
		margin:0 auto;
	}
	.product-slider-preview .slick-slide {
		margin:0 10px;
	}
	.product-slider-preview img {
		margin:0 auto;
		max-width:120px;
		width:100%;
	}
	
	.js-popup-basket {
		padding:30px 35px;
	}
	.popup-basket-title {
		font-size:26px;
		margin-bottom:40px;
	}
	.popup-basket-product {
		padding:30px 0;
	}
	
	.footer-phone {
		font-size:26px;
		margin:25px 0;
	}
}
@media (max-width: 992px) {
	.wrapper {
		padding-left:20px;
		padding-right:20px;
	}
	.header {
		padding-top:10px;
		padding-bottom:10px;
	}
	.header .wrapper {
		padding-left:20px;
	}
	.nav-left-toggle {
		display:none;
	}
	.header-cols {
		flex-wrap:wrap;
	}
	.h-col-logo {
		margin-left:0;
	}
	.h-col-icons {
		flex:0 0 100%;
	}
	.header-phone-icon {
		display:inline-block;
	}
	.header-icons {
    display: flex;
    justify-content: space-evenly;
		background:var(--gray-light2);
		padding:10px 0;
		margin:10px -20px 0;
	}
	.header-icon {
		max-width:20px;
	}
	
	.header-search-form {
		top:114px;
		left:0;
		right:auto;
	}
	
	.h-col-nav {
		padding:0;
		flex:0 0 auto;
	}
	.nav-toggle {
		display:inline-block;
	}
	.navigation-list {
		display:none;
		position: absolute;
    left: 0;
    top: 115px;
    background: var(--gray-light2);
    z-index: 99;
		padding:20px;
		text-align:left;
		width:100%;
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
	}
	.navigation-list.-opened {
		display:block;
	}
	.navigation-item {
		display:block;
	}
	.navigation-link {
		letter-spacing:0.12em;
		padding:10px 0;
	}
	
	.main {
		margin-top:10px;
	}
	.main .wrapper {
		padding-left:20px;
	}
	.breadcrumbs {
		margin-bottom:15px;
	}
	.section-title {
		font-size:24px;
		margin-bottom:30px;
	}
	
	.index-sliders {
		margin:20px -20px 50px;
	}
	.slider-product-name {
		display:block;
		font-size:50px;
		margin-left:0;
	}
	.slider-product-price {
		font-size:24px;
		margin-top:30px;
	}
	.slider-product-price span {
		font-size:45px;
		margin:0 10px;
	}
	.slider-product-btn {
		font-size:24px;
	}
	
	
	.interior-index {
		min-height:500px;
		margin-bottom:50px;
		background-position:85% center;
	}
	.interior-index-text {
		display:none;
	}
	
	.own-production.-inverse {
		padding-right:0;
	}
	
	.our-projects {
		flex-wrap:wrap;
		padding:20px 0px 40px;
	}
	.our-projects-img {
		margin:0 auto 20px;
		flex:1 1 auto;
		text-align:center;
	}
	.our-projects-text {
		padding:0;
		max-width:none;
	}
	.our-projects-text p {
		font-size:20px;
	}
	.vert-strip {
		display:none;
	}
	
	.index-step {
		flex-wrap:wrap;
		margin-bottom:40px;
	}
	.index-step-img {
		flex:auto;
		order:-1;
		margin:0 -20px;
	}
	.index-step-content {
		margin-top:35px;
		padding:0 !important;
	}
	.index-step-text {
		font-size:18px;
	}
	
	.trust-us {
		padding:35px 0;
		margin:0 -20px;
	}
	.bloger-list {
		margin:35px 0 0 20px;
	}
	.bloger-item {
		margin:0 10px;
	}
	.bloger-item-name {
		font-size:20px;
		margin-top:16px;
	}
	.bloger-block {
		margin:0 -20px;
	}
	
	.page-about {
		margin:15px 0 0px 0;
	}
	.about-block-text {
		margin-bottom:30px;
	}
	
	.order-steps-block {
		justify-content:space-around;
		margin:20px 0 30px;
	}
	.order-steps-item:after {
		content:none;
	}
	
	.form__row {
			margin-bottom: 40px;
	}
	.footer-form textarea.form__field {
		height:240px;
	}
	
	.js-popup-basket {
		padding:30px 0 0;
		width:310px;
	}
	.js-popup-basket .fancybox-close-small {
		display:none;
	}
	.popup-basket-title {
		font-size:16px;
		margin-bottom:20px;
	}
	.popup-basket-product {
		padding:0;
		border:0;
		flex-wrap:wrap;
	}
	.popup-basket-img {
		margin:0 auto;
	}
	.popup-basket-info {
		width:100%;
		padding:0 20px;
	}
	.popup-basket-category {
		font-size:12px;
		line-height:20px;
	}
	.popup-basket-name {
		font-size:18px;
		line-height:20px;
		margin-bottom:5px;
	}
	.popup-basket-material {
		font-size:13px;
	}
	.popup-basket-material:last-of-type {
		margin-bottom:14px;
	}
	.popup-basket-count, .popup-basket-price {
		font-size:18px;
		padding:0 20px;
	}
	.popup-basket-btns {
		text-align:center;
		margin-top:20px;
		width:100%;
	}
	.popup-basket-btns .btn-line {
		font-size:13px;
		margin-bottom:15px;
		margin-top:0;
	}
	.popup-basket-btns .btn-line:before {
		width:50px;
		height:1px;
		margin-right:7px;
		background:#BABABA;
	}
	.popup-basket-btns .btn-line:after {
		width:50px;
		height:1px;
		margin-left:7px;
		background:#BABABA;
	}
	.popup-basket-btns .btn-line:hover:after {
		width:0px;
		margin-left:0px;
	}
	
	.footer-social {
		margin:30px 0;
	}
	.footer-social-item {
		max-width:40px;
		margin:0 15px 30px;
	}
	
	.navigation-footer-link {
		font-size:18px;
		margin-bottom:20px;
	}
	
	.footer-model-link {
		font-size:18px;
		margin-bottom:20px;
		width:19%;
	}
	.logo-footer {
		max-width:192px;
		display:inline-block;
	}
	
}

@media (max-width: 768px) {
	.slick-dots li {
		width:15px;
		height:15px;
		margin:0 3px;
	}
	.btn {
		font-size:16px;
		padding:10px 20px;
	}
	.btn-line {
		font-size:16px;
	}
	.h1 {
		margin-bottom:20px;
		font-size:22px;
	}
	
	.index-sliders-col {
		width:100%;
	}
	.index-sliders-col:first-of-type {
		border:0;
	}
	.index-sliders-col:last-of-type {
		display:none;
	}
	
	.interior-index-btn {
		font-size:22px;
	}
	.interior-index-btn:before {
		height:2px;
		margin-right:10px;
		width:22px;
	}
	
	.compile-block {
		height:400px;
	}
	.compile-block-title {
		font-size:24px;
	}
	
	.bloger-block {
		flex-wrap:wrap;
		padding-bottom:0;
		background:#fff;
	}
	.bloger-block:before {
		content:'';
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:40px;
		background:var(--gray-light2);
		z-index:0;
	}
	.bloger-img {
		margin-right:70px;
	}
	.bloger-text {
		color:#353534;
		font-size:16px;
		padding:16px 20px 35px;
		margin:0;
	}
	.bloger-text:before {
		content:none;
	}
	
	.catalog {
		margin:30px 0;
	}
	.catalog-aside {
		margin-bottom:0;
	}
	.catalog-filter {
		display:none;
		padding-bottom:30px;
	}
	.filter-row {
		padding:10px 0;
	}
	.filter-row-name {
		padding:0;
	}
	.filter-row-content {
		padding-left:0;
	}
	.filter-row-btns {
		margin-left:0;
	}
	
	.catalog-content {
		margin:0 -20px;
	}
	.product-list {
		width:100%;
		max-width:500px;
		margin:0 auto;
	}
	.product-item {
		width:100% !important;
		margin-left:0;
	}
	.product-item .img-normal {
		display:block !important;
	}
	.product-item .img-x2,
	.product-item .img-x2-v {
		display:none !important;
	}
	
	.product-item-title {
		position:static;
		color:var(--black);
		margin:15px 0 15px;
		float:left;
		padding-left:20px;
	}
	.product-item-category {
		display:block;
		font-size:16px;
	}
	.product-item-name {
		font-size:24px;
		margin-left:0;
		line-height:1;
		vertical-align:initial;
	}
	.product-item-bottom-m {
		float:right;
		margin-top:15px;
		padding-right:20px;
		text-align:right;
	}
	.product-item-price {
		font-size:13px;
	}
	.product-item-price span {
		font-size:24px;
	}
	.product-item-price .rub {
		font-size:13px;
		text-transform:initial;
	}
	.product-item-link {
		font-size:14px;
	}
	.product-item-link:before, .product-item-link:after {
		width:20px;
	}
	.product-item-link:after {
		margin:0 0 0 6px;
	}
	.product-item-more {
		clear:both;
		font-size:16px;
		text-transform:uppercase;
		margin-left:20px;
		color:var(--gray);
		position:relative;
	}
	.product-item-more:after {
		content:'';
		display:inline-block;
		width:12px;
		height:12px;
		margin-left:7px;
		transition:all 0.2s;
		background:url("data:image/svg+xml,%3Csvg width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='M6.3806 8.58135L11.853 3.07679C12.049 2.89616 12.049 2.60321 11.853 2.42258C11.6569 2.24195 11.3388 2.24195 11.1428 2.42258L5.99999 7.59524L0.857224 2.42304C0.661172 2.24241 0.343079 2.24241 0.147041 2.42304C-0.048996 2.60367 -0.048996 2.89662 0.147041 3.07724L5.6194 8.58181C5.72391 8.67809 5.86247 8.71936 5.99949 8.71293C6.13703 8.71892 6.27557 8.67765 6.3806 8.58135Z' fill='%23727272'/%3E%3C/g%3E%3C/svg%3E") center no-repeat;
	}
	.product-item-more.-opened:after {
		transform:rotate(180deg);
	}
	
	.product-item-img:hover .product-item-hover {
		display:none;
	}
	
	.product-item-hover {
		position:static;
		margin-top:10px;
		width:100%;
		transition:all 0.3s;
	}
	.product-item-hover.-opened {
		display:flex !important;
	}
	.product-item-hover .product-item-title,
	.product-item-hover .product-item-favorite {
		display:none;
	}
	.product-item-hover--col {
		flex: 0 0 100%;
	}
	.product-item-hover--col:not(:last-of-type) {
		display:none;
	}
	.product-item-hover--content {
		padding:0px 20px 16px;
	}
	.product-item-content-title {
		display:none;
	}
	.product-item-prop-title {
		font-weight:normal;
		margin:15px 0 10px;
	}
	.product-item-prop {
		font-size:14px;
		margin-bottom:5px;
	}
	.product-item-hover-links {
		position:static;
		margin-top:20px;
	}
	.product-item-hover-link {
		font-size:16px;
	}
	
	.product-gallery {
		height:auto;
		margin-bottom:15px;
		padding-bottom:20px;
	}
	.product-slider, .product-img {
		padding:22px;
	}
	.product-title {
		font-size:46px;
	}
	
	.choose-upholstery-title {
		font-size:24px;
	}
	.choose-upholstery-subtitle {
		font-size:22px;
		margin-top:35px;
	}
	.upholstery-item {
		font-size:14px;
		max-width:120px;
		margin:30px 10px 0 10px;
	}
	.upholstery-item-img {
		width:95px;
		height:95px;
	}
	
	
	.product-info-block {
		padding:30px 0;
		font-size:14px;
		line-height:20px;
		letter-spacing:0.04em;
	}
	.product-info-name {
		font-size:18px;
		margin-bottom:10px;
	}
	.info-prop-title {
		margin-bottom:10px;
		font-size:13px;
	}
	.product-info-block p {
		margin-bottom:8px;
	}
	.product-info-inner img {
		margin-top:10px;
	}
	
	.section-configuration {
		padding:30px 0;
	}
	
	.section-interior {
		padding:35px 0 0;
	}
	.section-similar {
		padding: 35px 0;
	}
	
	.basket {
		margin-bottom:40px;
	}
	.basket-table {

	}
	.basket-table-header {
		display:none;
	}
	.basket-table-item {
		padding-bottom:20px;
		margin-bottom:20px;
		display:block;
	}
	.basket-table-item td {
		text-align:left !important;
		display:block;
		width:100%;
		padding:0;
	}
	.basket-item-img {
		margin:0 auto;
	}
	.basket-item-name {
		font-weight:bold;
	}
	.basket-item-count {
		margin:10px 0;
	}
	.basket-panel {
		display:block;
		background:none;
		padding:0;
		margin:0;
	}
	.basket-coupon-block {
		background:var(--gray-light);
		padding:27px 20px;
		margin:0 -20px 20px;
	}
	.basket-coupon-input {
		font-size:16px;
		width:calc(100% - 35px);
		height:48px;
	}
	.basket-total-block,
	.basket-discount-block,
	.basket-checkout-block {
		font-size:15px;
		margin-bottom:10px;
	}
	.basket-total-block span,
	.basket-discount-block span,
	.basket-checkout-block span {
		padding-left:5px;
	}
	.basket-checkout-block span {
		font-size:15px;
	}
	.basket-btns-block {
		margin-top:0;
	}
	.basket-btns-block .btn {
		margin-top:20px;
	}
	
	.delivery, .payment {
		margin-bottom:40px;
	}
	
	.footer-form {
		padding:30px 0 50px;
	}
	.form__row {
		margin-bottom: 20px;
	}
	.form__field {
		padding: 12px 14px;
		font-size:16px;
	}
	
	.js-popup-big, .modal-big {
		padding:50px 15px 30px;
	}
	
}

@media (max-width: 575px) {
	.h-col-logo {
		max-width:140px;
	}
	.header-search-form {
		top:101px;
		max-width:100%;
	}
	.navigation-list {
    top: 100px;
	}
	.section-title {
		font-size:18px;
		margin-bottom:20px;
	}
	
	.index-sliders {
		margin-bottom:35px;
	}
	.index-slider {
		padding:23px 20px 34px;
	}
	.index-slider-item {
		margin-bottom:30px;
	}
	.slider-warranty-title {
		font-size:24px;
	}
	.slider-warranty-value {
		font-size:14px;
	}
	.slider-product-category {
		font-size:16px;
		color:var(--black);
		margin-top:8px;
	}
	.slider-product-name {
		font-size:24px;
		color:var(--black);
		font-weight:700;
		margin-bottom:20px;
	}
	.slider-product-text {
		/* font-size:16px; */
		max-height:none;
		margin-bottom:25px;
	}
	.slider-product-price {
		font-size:14px;
		margin:0;
		position:absolute;
		top:28px;
		right:0;
	}
	.slider-product-price span {
		font-size:24px;
		color:var(--black);
		margin:0 3px 0 7px;
	}
	.slider-product-btn {
		font-size:14px;
		text-transform:uppercase;
	}
	.slider-product-btn:before, .slider-product-btn:after {
		width:20px;
		height:1px;
		margin-right:5px;
	}
	.slider-product-btn:after {
		margin:0 0 0 13px;
	}
	
	.interior-index {
		min-height:350px;
		margin:0 -20px 35px;
	}
	
	.own-production {
		margin:0 -20px;
	}
	.own-production-block {
		padding:35px 20px 25px;
		/* font-size:15px; */
	}
	.own-production-title {
		font-size:22px;
	}
	
	.our-projects {
		padding-top:0;
	}
	.our-projects-text p {
		font-size:16px;
		color:#353534;
	}
	
	.index-step-num, 
	.index-step:nth-child(even) .index-step-num {
		font-size:24px;
		padding:5px 0;
		width:31px;
	}
	.index-step-title {
		font-size:18px;
		margin:7px 0 20px;
	}
	.index-step-text {
		font-size:16px;
	}
	
	.about-block-img {
		display:block;
		margin:0 auto 20px;
	}
	.about-block-title {
		text-align:center;
		text-transform:uppercase;
		font-size:22px;
		font-weight:normal;
	}
	.about-block-text {
		font-size:20px;
	}
	
	.product-gallery {
		margin-left:-20px;
		margin-right:-20px;
	}
	.product-left {
		padding-bottom:0;
		display:flex;
		flex-wrap:wrap;
	}
	.product-left > * {
		width:100%;
	}
	.product-title-block {
		order:-1;
		width:50%;
	}
	.product-category {
		font-size:16px;
		display:block;
		line-height:1;
	}
	.product-title {
		font-size:24px;
		line-height:1;
	}
	.product-price-holder {
		margin:0;
		order:-1;
		width:50%;
		text-align:right;
		align-self:flex-end;
	}
	.product-price {
		font-size:24px;
	}
	.product-price-rub {
		font-size:14px;
	}
	.product-price-old {
		font-size: 18px;
	}
	.product-text-hidden {
		font-size:14px;
		max-height:60px;
		margin-bottom:4px;
	}
	.product-text-show {
		font-size:12px;
	}
	.product-preview {
		margin-top:15px;
	}
	.product-btns {
		margin-bottom:10px;
	}
	.product-warranty-title {
		font-size:16px;
	}
	.product-materials-title {
		font-size:18px;
		margin-top:20px;
	}
	.product-materials-list {
		margin-bottom:20px;
	}
	
	.configuration-list {
		margin:0 -20px 0 0;
	}
	.configuration-item {
		margin:0 8px;
		width:35vw;
	}
	
	.product-info-inner--img {
		margin:0 -20px;
	}
	.interior-list {
		margin:0 -20px;
	}
	.interior-item,
	.interior-item.-w-1,
	.interior-item.-w-2	{
		width:65vw;
		padding-top:60vw;
		margin-left:20px;
	}
	
	.similar-list {
		margin:0 -20px;
	}
	.similar-item {
		margin:0 10px;
		width:60vw;
	}
	
	.order-steps-item {
		font-size:12px;
	}
	.order-steps-item.-active {
		font-size:14px;
	}
	.order-steps-item:before {
		display:block;
		margin:0 auto;
	}
	
	.delivery-subtitle {
		font-size:15px;
		margin-bottom:30px;
	}
	.delivery-point {
		justify-content:space-around;
	}
	.delivery-point-time {
		display:none;
	}
	
	.payment .order-radio-list {
		margin:0;
	}
	.payment .order-radio-item {
		width:145px;
		text-align:center;
		margin-bottom:25px;
	}
	
	.order-done {
		margin-bottom:50px;
	}
	.order-done img {
		margin-bottom:8px;
	}
	.order-done-text {
		font-size:16px;
		color:var(--gray);
		margin-bottom:0;
	}

	.order-radio-list {
		flex-wrap:wrap;
		justify-content:space-around;
	}
	.order-radio-item {
		margin-bottom:30px;
	}
	.order-radio-item--img {
		max-width:35px;
		margin:0 auto 5px;
	}
	.order-radio-item--name {
		font-size:15px;
	}
	.order-field {
		height:46px;
		margin-bottom:15px;
	}
	
	.navigation-footer-link {
		font-size:14px;
	}
	.footer-models-title {
		display:block;
	}
	.footer-models {
		display:none;
		margin-bottom:20px;
		border-bottom:1px solid #F1F1F1;
	}
	.footer-model-link {
		font-size:14px;
		margin-bottom:15px;
		width:32%;
	}
	
	.footer-right {
		text-align:center;
		display:flex;
		flex-wrap:wrap;
		flex-direction:column;
		border-top:1px solid #d5d5d5;
		padding:15px 0 25px;
		color:var(--gray);
		font-size:14px;
		text-transform:uppercase;
	}
	.footer-phone {
		font-size:20px;
		margin:0 0 12px;
		color:var(--gray);
	}
	.footer-address {
		margin-bottom:10px;
	}
	.logo-footer {
		margin:0px auto;
	}
	.footer-bottom {
		font-size:14px;
	}
}