
.product-scu-list {
	padding:0;
	list-style:none;
}
.product-scu-item {
	display:inline-block;
	width:50px;
	height:50px;
	border-radius:50%;
	margin-right:10px;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	cursor:pointer;
}
.product-scu-item.selected {
	border:2px solid var(--orange);
}
