.bx-sbb-empty-cart-image {
	margin: 50px auto 42px;
	width: 131px;
	height: 116px;
	background: url(images/empty_cart.svg) no-repeat center;
	background-size: contain;
	-webkit-background-size: contain;
}
.bx-sbb-empty-cart-text {
	margin-bottom: 42px;
	color: #bababa;
	text-align: center;
	font-size: 32px;
}
.bx-sbb-empty-cart-desc {
	margin-bottom: 42px;
	color: #000;
	text-align: center;
	font-size: 16px;
}

.basket-coupon-alert-section {
	margin-bottom:20px;
}

.basket-coupon-alert {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
	min-height: 0;
	width: 100%;
	font: 400 13px/14px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	flex-wrap: nowrap;
	-webkit-box-align: start;
	align-items: flex-start;
}

.basket-coupon-text {
	position: relative;
	display: block;
	word-break: break-all;
	word-break: break-word;
	padding-left:20px;
}

.text-muted .basket-coupon-text:after {
	position: absolute;
	top: 0;
	left: 2px;
	width: 6px;
	height: 10px;
	border-right: 2px solid #7ad500;
	border-bottom: 2px solid #7ad500;
	content: '';
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.text-danger .basket-coupon-text:after {
	position: absolute;
	top: 0;
	left: 2px;
	width: 6px;
	height: 10px;
	border-right: 2px solid red;
	border-bottom: 2px solid red;
	content: '';
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.basket-coupon-alert .close-link {
	margin-left: 10px;
	border-bottom: 1px dotted;
	color: var(--primary);
	text-decoration: none;
	font: 400 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	opacity: 1;
	cursor: pointer;
	transition: 220ms ease all;
}

.bx-ie .basket-coupon-alert .close-link { color: #006cc0; }

.basket-coupon-alert .close-link:hover { border-color: transparent; }